@model wlc2.Models.OrganicUnit

@{
    ViewData["Title"] = "Eliminar Unidade Orgânica";
}

<h1 style="color: green">Eliminar Unidade Orgânica</h1>

<h3>Tem a certeza que deseja eliminar esta unidade orgânica?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Unidade Orgânica" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
