@model wlc2.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstractPT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstractPT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbstractEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbstractEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordsPT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeywordsPT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeywordsEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeywordsEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicYear.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.Alpha2Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
